.grid {
    ul[id="primary-menu"]{
        // position: relative;
        // overflow-y: visible;
        
        
        .menu-item{
            display: inline-block;
            
            &:hover{
                
                .sub-menu{
                    opacity: 1;
                    width: 100%;
                    z-index: 300;
                    @include transform(scale(1, 1));
                    .menu-item{
                        opacity: 1;
                        @include transform(none);
                    }
                }
            }
            
            .sub-menu{
                position: absolute;
                width: 100%;
                opacity: 0;
                @include basic-transition;

                background: rgba(255,255,255,.95);
                border-top:2px solid var(--theme-color);
                border-bottom:2px solid var(--theme-color);
                // background: $dark;
                // background: var(--theme-color);
                left: 0;
                top: 100%;
                padding: 20px;
                @include display-grid;
                @include grid-template-column(repeat(5, 1fr));
                @include grid-gap(20px);
                z-index: -1;
                @include transform(scale(1, 0));
                transform-origin: top center;
                box-shadow: $down-box-shadow;
                
                .menu-item{
                    display: block;
                    line-height: 1.1;
                    padding: 0;
                    opacity: 0;
                    @include transform(translateX(20px));
                    @include basic-transition;
                    @include basic-transition-delay;
                    
                    a{
                        // color: $light-full;
                        padding: 0;
                        // font-family: $main-font-family;
                        text-transform: $text-transform-none;
                        font-size: $font-size;
                        
                        &::after{
                            content: "";
                            display: block;
                            width: 30px;
                            height: 1px;
                            background: $light-full;
                            margin: 5px 0 10px;
                        }
                    }
                
                    .sub-menu{
                        position: relative;
                        height: auto;
                        display: block;
                        padding: 0;
                        top: 0;
                        box-shadow: none;
                        border: none;
                        background: none;
                        
                        .menu-item{
                            display: block;
                            margin-bottom: 0;
                            
                            a{
                                font-weight: $light;
                                text-transform: $text-transform-none;
                                font-family: $main-font-family;
                                font-size: $tiny-size;
                                margin-bottom: 5px;
                                
                                &::after{
                                    display: none;
                                }
                                
                                &:hover{
                                    @include transform(translateX(15px));
                                }
                            }
                            
                            .sub-menu{
                                padding-left: 20px;
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.grid.whiteGrid {
    ul[id="primary-menu"] .menu-item .sub-menu .menu-item a::after {
        background: var(--theme-color);
    }
}