ul[id="primary-menu"] {
    display: none;
    margin: 0;
    padding-left: 0;
    list-style: none;
    position: relative; 
    
    .menu-item {

        &.flyout {
            position: relative;

            &:hover > .sub-menu,
            &.focus > .sub-menu {
                // left: 0;
                width: 300px;
                opacity: 1;
                z-index: 300;
                @include transform(scale(1, 1));
            }

            .sub-menu {
                position: absolute;
                top: 80px;
                opacity: 0;
                left:0;
                background: rgba(255,255,255,.95);
                width: 300px;
                @include transform(scale(1, 0));
                transform-origin: top center;
                box-shadow: $down-box-shadow;
                @include basic-transition;

                .menu-item {
                    width: 100%;
                    position: relative;
    
                    &:first-child {
                        border-top: 2px solid var(--theme-color);
                    }
                    &:last-child {
                        border-bottom: 2px solid var(--theme-color);
                    }
    
                    &:hover > .sub-menu,
                    &.focus > .sub-menu {
                        width: 300px;
                        opacity: 1;
                        top: 0;
                        z-index: 300;
                        @include transform(scale(1, 1));
                    }
                }
    
                .sub-menu {
                    opacity: 0;
                    left:100%;
                    @include basic-transition;
                    // max-width: 300px;
                }
                a {
                    padding: 15px 10px;
                    font-size: $font-size;
                    font-weight: $light;
                    text-transform: none;
                }
    
                :hover > a,
                .focus > a {
                    background: var(--theme-color) none repeat scroll 0 0;/* !important;*/
                    color: var(--hover-textcolor);
                }
    
    
            }

        }

        &.flyoutH {

            &:hover > .sub-menu,
            &.focus > .sub-menu {
                // left: 0;
                width: 100%;
                opacity: 1;
                z-index: 300;
                @include transform(scale(1, 1));
            }
            .sub-menu {
                position: absolute;
                top: 100%;
                width: 100%;
                display: flex;
                justify-content: space-around;
                opacity: 0;
                left:0;
                background: rgba(255,255,255,.95);
                border-top:2px solid var(--theme-color);
                border-bottom:2px solid var(--theme-color);
                @include transform(scale(1, 0));
                transform-origin: top center;
                box-shadow: $down-box-shadow;
                @include basic-transition;
    
                & > .menu-item {
                    flex:1 1 auto;
                    position: relative;
                    @include basic-transition;
                    @include basic-transition-delay;

                    &:hover > .sub-menu,
                    &.focus > .sub-menu {
                        width: 300px;
                        opacity: 1;
                        top:100%;
                        z-index: 300;
                        @include transform(scale(1, 1));
                    }
                }
    
                .sub-menu {
                    opacity: 0;
                    flex-direction: column;
                    max-width: 300px;
                    @include basic-transition;
    
                    & > .menu-item {
                        display: block;
    
                        a {
                            padding:15px 10px;
                            font-size: $font-size;
                        }
                    }
                }
                a {
                    // padding: 15px 10px;
                    font-weight: $light;
                    text-transform: none;
                }
    
                :hover > a,
                .focus > a {
                    background: var(--theme-color) none repeat scroll 0 0;/* !important;*/
                    color: var(--hover-textcolor);
                    height: 100%;
                }
    
    
            }
        }

        &.grid {
            display: inline-block;

            &:hover{
                
                .sub-menu{
                    opacity: 1;
                    width: 100%;
                    z-index: 300;
                    @include transform(scale(1, 1));
                    
                    .menu-item{
                        opacity: 1;
                        @include transform(none);
                    }
                }
            }
            .sub-menu{
                position: absolute;
                width: 100%;
                opacity: 0;
                @include basic-transition;

                background: rgba(255,255,255,.95);
                border-top:2px solid var(--theme-color);
                border-bottom:2px solid var(--theme-color);
                // background: $dark;
                // background: var(--theme-color);
                left: 0;
                top: 100%;
                padding: 20px;
                @include display-grid;
                @include grid-template-column(repeat(5, 1fr));
                @include grid-gap(20px);
                z-index: -1;
                @include transform(scale(1, 0));
                transform-origin: top center;
                box-shadow: $down-box-shadow;
                
                .menu-item{
                    display: block;
                    line-height: 1.1;
                    padding: 0;
                    opacity: 0;
                    @include transform(translateX(20px));
                    @include basic-transition;
                    @include basic-transition-delay;
                    
                    a{
                        // color: $light-full;
                        padding: 0;
                        // font-family: $main-font-family;
                        text-transform: $text-transform-none;
                        font-size: $rem-size;
                        
                        &::after{
                            content: "";
                            display: block;
                            width: 30px;
                            height: 1px;
                            background: $light-full;
                            margin: 5px 0 10px;
                        }
                    }
                
                    .sub-menu{
                        position: relative;
                        height: auto;
                        display: block;
                        padding: 0;
                        top: 0;
                        box-shadow: none;
                        border: none;
                        
                        .menu-item{
                            display: block;
                            margin-bottom: 0;
                            
                            a{
                                font-weight: $light;
                                text-transform: $text-transform-none;
                                font-family: $main-font-family;
                                font-size: $tiny-size;
                                margin-bottom: 5px;
                                
                                &::after{
                                    display: none;
                                }
                                
                                &:hover{
                                    @include transform(translateX(15px));
                                }
                            }
                            
                            .sub-menu{
                                padding-left: 20px;
                                top: 0;
                            }
                        }
                    }
                }
            }
        }

        &:hover > .sub-menu,
        &.focus > .sub-menu {
            // left: 0;
            width: 300px;
            opacity: 1;
            z-index: 300;
            @include transform(scale(1, 1));
        }

        &.current_page_item > a,
        &.current-menu-item > a,
        &.current_page_ancestor > a,
        &.current-menu-ancestor > a {
            color: var(--theme-color);
        }
    }

}

@media screen and (min-width: 37.5em) {
        ul[id="primary-menu"] {
            display: flex;
            .menu-toggle {
                display: none;
            }
        }
}