/*
https://codepen.io/tonkec/pen/aRMaWR?editors=1100
*/

.menu-trigger {
	top: 10px;
	display: inline-block;
	padding: 7px 10px;
	background-color: transparent;
	cursor: pointer;
	margin: 10px;
	z-index: 3;
	position: fixed;

	.bar {
		display: block;
		background-color: var(--theme-color);
		width: 30px;
		height: 3px;
		border-radius: 5px;
		margin: 5px auto;
		transition: background-color 0.4s ease-in, transform 0.4s ease-in,
		width 0.4s ease-in;
	  }
} 

input#menu-trigger {
	display: none;
}

nav#responsive-menu {
	width: 100%;
	right: 0;	
	background-color: var(--theme-color);
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

input#menu-trigger:checked ~ nav#responsive-menu {
	transform: translateX(0%);
	padding: 20px;
}
input#menu-trigger:checked ~ label.menu-trigger {
	background-color: #fff;
}

input#menu-trigger:checked ~ label .top {
	-webkit-transform: translateY(0px) rotateZ(45deg);
	-moz-transform: translateY(0px) rotateZ(45deg);
	-ms-transform: translateY(0px) rotateZ(45deg);
	-o-transform: translateY(0px) rotateZ(45deg);
	transform: translateY(0px) rotateZ(45deg);
  }
  
  input#menu-trigger:checked ~ label .bottom {
	-webkit-transform: translateY(-15px) rotateZ(-45deg);
	-moz-transform: translateY(-15px) rotateZ(-45deg);
	-ms-transform: translateY(-15px) rotateZ(-45deg);
	-o-transform: translateY(-15px) rotateZ(-45deg);
	transform: translateY(-15px) rotateZ(-45deg);
  }
  
  input#menu-trigger:checked ~ label .middle {
	width: 0;
  }
  
  .middle {
	margin: 0 auto;
  }
  

ul[id="mobile-menu"] { 
    width: 100%;
    list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 30px;
	text-align: left;
	
	& > .menu-item {
		margin-bottom: 20px;

		& > a {
			padding-bottom: 7px;
			color: #fff;
			text-decoration: none;
			font-size: $font-size;
			position: relative;
			font-weight: 500;

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 3px;
				border-radius: 3px;
			}
			&::before {
				border-radius: 3px;
				content: "";
				position: absolute;
				bottom: 0;
				background-color: #fff;
				left: 0;
				height: 3px;
				z-index: 1;
				width: 50%;
				-webkit-transition: transform 0.2s ease-in-out;
				-o-transition: transform 0.2s ease-in-out;
				transition: transform 0.2s ease-in-out;
			}
			&:hover::before {
				-webkit-transform: translateX(100%);
				-moz-transform: translateX(100%);
				-ms-transform: translateX(100%);
				-o-transform: translateX(100%);
				transform: translateX(100%);
			  }
		}
		// .sub-menu {
		// 	display: none;
		// 	li {
		// 		a {
		// 		padding: 10px 25px;
		// 		background: #ececec;
		// 		border-bottom: 1px dotted #ccc;
		// 		}
		// 	}
		// }
	}
	
}

