.wrapper-content, .wrapper-layout {
    h2{
        margin-bottom: 20px;    
        
        &:first-child{
            margin-top: 0;
        }
    }

    h4{
        margin-top: -5px;
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 20px;
    }
    ul{
        list-style: disc;
        padding-left: 40px;
        
        li{
            margin-bottom: 10px;
            
            &:last-child{
                margin-bottom: 30px;
            }
        }
    }
    ol {
        list-style: decimal;
        padding-left: 40px;
        
        li{
            margin-bottom: 10px;
            
            &:last-child{
                margin-bottom: 30px;
            }
        }
    }
    figure {
        
        &

        img{
            margin: 10px auto;
        }
    }
    
    a{
        text-decoration: underline;
    
        &:hover{
            text-decoration: none;
        }
    }
    main article section h2:first-of-type{
        margin-top: 0;
    }
    // h2 + a + h3, h2 + h3{
    //     margin-top: -20px; 
    //     margin-bottom: 20px;
    // }
    // h3 + a + h4, h3 + h4{
    //     margin-top: -20px;
    //     margin-bottom: 20px;
    // }
    p + h2, p + a + h2{
        margin-top: 50px;
    }
    
    p + a + h3, p + h3{
        margin-top: 50px;
    }
    ul + a + h3, ul + h3{
        margin-top: 50px;
    }
    p + ul{
        margin-bottom: 30px;
    }

}