/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* FIN RESET */
html{
    font-size: 62.5%;
}

::selection, -moz-::selection{
    background: $dark;
    color: $light-full;
}

/* BODY & JQUERY CHANGE CLASSES */
body{
    font-family: $main-font-family;
    line-height: 1.4;
    color: $dark-typo;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    hyphens: none;
    overflow-x: hidden;
    
    &.menu-expanded{

        nav[id="primary-navigation"]{
            > div{
                @include transform(none);
                opacity: 1;
                
                .sub-menu{
                    opacity: 1;
                    @include transform(none);
                    
                    .menu-item{
                        opacity: 1;
                        @include transform(none);                     
                    }
                }
            }
        }
        aside[id="stickyMenu"]{
            z-index: 5;
        }
        ul[id="shortcuts"]{
            z-index: 5;
        }
        
        #burger-navigation {
            .burger{
                .burger-icon{
                    span{
                        &:first-child{
                            @include transform(rotateZ(45deg) translate(6px, 5px));
                        }
                        &:nth-child(2){
                            width: 0%;
                        }
                        &:last-child{
                            @include transform(rotateZ(-45deg) translate(6px, -5px));
                        }
                    }
                }
            }


            .overlay{
                opacity: 1;
                @include transform(none);
                z-index: 200;
            }
        }
    }
    &.overlay-expanded{
        overflow: hidden;
        
        div[id="page"]{
            overflow: hidden;
        }
        
        .site-content, .site-footer{
            @extend .blur;
            @include basic-transition-delay;
        }        
    }
}
[id="content"]{
    overflow: hidden;
}
figure{
    max-width: 100%!important;
}
div[id="page"]{
    padding: 90px 20px 20px;
    overflow-y: hidden;
    max-width: 100%;
}
/* WRAPPER */
.wrapper{
    max-width: $max-container-width;
    @include center-block;
    padding: 20px 20px;
}
.wrapper-layout{
    max-width: $max-archive-width;
    @include center-block;
    padding: 70px 20px;
}
.wrapper-content{
    @extend .wrapper;
    max-width: $max-typographic-width;
}
.fullwidth{
    max-width: 1800px;
    @include center-block;
    padding: 70px 0;
    a {
        text-decoration: underline;
    
        &:hover{
            color: $light-full;
            text-decoration: none;
        }
    }
}
/* IMAGE */
img{
    max-width: 100%;
    height: auto;
}
/* ACCESIBILITY */
.screen-reader-text, [target="_blank"]::before {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
}
[target="_blank"]{
    &::before{
        content: "Lien sortant";
    }
    
}

/* TYPOGRAPHIC ELEMENT & CLASSES */
h1, .h1{
    font-size: $h1-size;
    text-transform: $uppercase;
    font-family: $main-title-family;
    
    &::after{
        content: "";
        display: block;
        height: 5px;
        width: 55px;
        background: $dark;
        margin: 20px 0;
    }
}
h2, .h2{
    font-family:$main-title-family;
    font-size: $h2-size;
    color: $dark;
    margin: 20px 0 5px;
}
h3, .h3{
    font-family: $main-title-family;
    font-size: $h3-size;
    margin-bottom: 10px;
}
h4{
    font-family: $main-title-family;
    font-size: $h4-size;
    font-weight: $bold;
}
p{
    margin: 10px 0;
    text-align: justify;
}
em {
    font-style: italic;
}

b{
    font-family: $main-font-family;
}
strong{
    font-family: $main-font-family;    
}
button{
    font-family: $main-font-family;
    color: $dark;
    outline: 0;
    box-shadow: 0;
    border: none;
    background: none;
}
p, a, td, th, address, li, figcaption{
    letter-spacing: 1px;
}
.quote{
    font-size: calc(#{$h3-size} * 1.8);
}
a{
    color: $dark;
    text-decoration: none;
    cursor: pointer;
    @include basic-transition;
    
}
strong, b{
    font-weight: $bold;
}
i{
    font-style: $italic;
}
button{
    cursor: pointer;
}

small{
    font-size: 0.5em;
    font-family: $main-font-family;
    font-style: normal;
}
.page, .single{
    .tag {
        margin: 0;

        a, span{
            text-decoration: none;
            color: $dark;
            text-transform: $uppercase;
            font-weight: $bold;
            font-family: $main-font-family;
            font-size: $tiny-size;
            // margin-right: 15px;
            display: inline-block;
            padding:2px 10px;

            &::before{
                content: "#";
                display: inline-block;
            }
        }
    }
}
[data-role="list-platformTag"], 
.tribe-events-single{
    .tag{
        // margin-bottom: 40px;
        
        a, span {
            border: $basic-border;
            padding: 10px 20px;
            font-size: $font-size;
            margin-bottom: 20px;  
            
        }
        span {
            border:none;
            padding:0;

            &::before{
                content: "";
            }
        }
    }
}

/****************************
****** BLOCK GUTENBERG ******
****************************/

.alignleft {
    @include alignleft;
}

.alignright {
    @include alignright;
}

.aligncenter {
    @include aligncenter;
}

.alignwide {
    @include alignwide;
}

.alignfull {
    @include alignfull;
}

.alignfull.wp-block-cover {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

body a.btn{
    display: block;
    margin: 50px auto;
    border-radius: 0;
    background: $dark;
    color: $light-full;
    text-align: center;
    padding: 10px 40px;
    box-shadow: $down-box-shadow;
    position: relative;
    z-index: 1;
    max-width: 300px;
    text-decoration: none!important;

    &:hover{
        background: $light-full!important;
        color:#000;
    }
}  

.blur{
    filter: blur(5px);
}


/* COLONES */
.wp-block-columns{
    @include justify-content-between;
    
    &.has-2-columns{
        .wp-block-column{
            flex-basis: calc(50% - 5%);
        }
    }
}

/* TABLE */
.wp-block-table{
    margin: 30px 0;
    width: 100%;
    
    td{
        padding: 10px;
    }
}

/* QUOTE */
.wp-block-quote{
    max-width: 80%;
    margin: 50px auto;
    position: relative;
    
    &::before{
        content: "“";
        font-size: calc(#{$h1-size} * 1.5);
        font-family: $main-title-family;
        position: absolute;
        top: -40px;
        left: -40px;
    }
    
    &::after{
        content: "”";
        font-size: calc(#{$h1-size} * 1.5);
        font-family: $main-title-family;
        position: absolute;
        bottom: -40px;
        right: -40px;
    }
    
    p{
        font-size: $h4-size;
        font-family: $main-title-family;
        font-style: $italic;
    }
    cite{
        font-family: $main-title-family;
        font-size: $tiny-size;
        display: block;
        
        &::before, &::after{
            content: "-";
            display: inline-block;
            vertical-align: middle;
        }
        &::before{
            margin-right: 10px;
        }
        &::after{
            margin-left: 10px;
        }
    }
}

/* BLOCK IMAGE */
.wp-block-image{
    a{
        &:hover{
            background: none!important;
        }
    }
        
    figcaption{
        text-align: justify;
        font-style: italic;
        background: #EEE;
        padding: 5px 10px;
        color: #444;
        font-size: 1.2rem;
        
        br{
            margin:5px 0;
            display: block;
        }
    }
}

/* WP CTA */
.wp-block-button{

    .wp-block-button__link{
        text-decoration: none;
        color: $light-full;
        border-radius: 0;
        color: $light-full!important;
        padding: 10px 20px;
        box-shadow: $basic-box-shadow;
    }
}

/* TABLE */
.wp-block-table, table{
    th{
        background: $dark;
        color: $light-full;
        padding: 20px 10px;
    }
    tr{
        &:nth-of-type(odd){
            background: $light-grey;
        }
    }
}

/* CALENDAR */
.wpfc-calendar-wrapper{
    h2{
        font-size: $h2-size!important;
    }
    .fc-view-container{
        *{
            box-sizing: border-box;
        }
    }
    .fc-toolbar{
        @include display-flex;
        @include justify-content-between;
        @include align-items-center;
        
        .fc-left{
            order: 1;
        }
        .fc-center{
            order: 2;
        }
        .fc-right{
            order: 3;
        }
        .fc-clear{
            display: none;
        }
    }
    .fc-head{
        font-family: $main-title-family;
        text-transform: $uppercase;
        font-size: $font-size!important;
    }
    .fc-body{
        font-family: $main-font-family;
        
        thead{    
            td{
                font-size: $font-size!important;
            }
        }
        .fc-day{
            border: 1px solid $dark-grey;
        }
        
        .fc-content-skeleton{
            thead{
                tr{
                    background: transparent;
                }
            }
        }
    }
    .fc{
        button{
            border: $basic-border;
            text-transform: uppercase;
            color: $dark;
            background: none;
            height: auto;
            padding: 5px 10px;
            border-radius: 0;
            font-family: $main-title-family;
            
            .ui-icon{
                background-image: url("images/chevron.svg");
                filter: invert(100%);
                background-position: center;
                background-size: cover;
            }
            &.fc-prev-button{
                 .ui-icon{
                    @include transform(scale(-1, 1));
                }               
            }
        }
        
        .fc-button-group{
            button:not(:last-child){
                margin-right: 10px;
            }
        }
    }
    .ui-widget-content{
        border-color: $dark-grey;
        background: $light-grey;
        
        &.ui-state-highlight{
            border-width: 5px;
            border-style: solid;
            
        }
    }
}


/* INTERACTIVE MAP */

[id="desc_overlay"]{
    h2, p{
        color: $light-full;
    }
}