.post {
    width: 100%;
    padding: 20px;
    box-shadow: $down-box-shadow;
    box-sizing: border-box;
    position: relative;
    background: $light-full;

    > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
    
    &:hover{
        > a{
            background: none;
            color:var(--theme-color);
        }
        
        .entry-header{
            img{
                @include transform(scale(1.05));
                opacity: 0.8;
            }
        }
    }
    
}
[role="listNews"],
.sedoo_blocks_listepages {
    .post {
        &:hover{
            > a{
                background: none;
                color:var(--theme-color);
            }
        } 
    }
}

.post {

    .entry-header{
        position: relative;
        height: 235px;
        width: 100%;
        margin-bottom: 10px;
        
        figure{
            overflow: hidden;
            height: 100%;
            width: 100%;

            img{
                object-fit: cover;
                @include basic-transition;
                height: 100%;
                margin: 0;
                width: 100%;
            }
        }
        p{
            position: absolute;
            top: 10px;
            left: -10px;
            z-index: 1;
            padding: 5px 10px;
            background: $dark;
            color: $light-full;
            font-weight: $semi-bold;
            text-transform: uppercase;
            font-size: $mini-size;
            margin-bottom: 0;
            font-family: $main-font-family;
            text-align: left;
        }
    }
    
    .group-content{
        .entry-content{
            margin-bottom: 40px;

            h2, h3{
                @extend .h3;
                margin-bottom: 10px;
                @include basic-transition;
                @include basic-transition-delay;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
                text-transform: uppercase;
                margin-top: 0;
            }
            p{
                font-size: $tiny-size;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
        .entry-footer{
            position: absolute;
            bottom: 20px;
            left: 0;
            padding: 0 20px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;

            p, a {
                font-size: $mini-size;
            }
            p{
                margin: 0;
                color: #999;
            }
        }
        
    }
}

.post-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    &.noimage .post {
        .entry-header{
            height: auto;
            margin-bottom:40px;
            padding:0;

            p {
                top:-20px;
            }
        }
    }

    .post {
        width: auto;
        flex:1 1 400px;
        padding: 20px;
        margin:0 10px 20px;
        -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5); 
        position: relative;
        background:#fff;
    }
    
    &.sedoo_blocks_listepages {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    

    .event-post{
        text-decoration: none;
        
        .event-img{
            img{
                object-fit: cover;
                height: 100%
            }
        }
        
        h3{
            color: $dark;
            text-decoration: none;
            
        }
        
        &:hover{
            background: none;
        }
    }

    &.sedoo-labtools-listCPT {
        justify-content: flex-start;
        &.content-list {
            article {
                width: 100%;;
            }
        }
        article {
            > a {
                text-decoration: none;
                &:hover {
                    color:#999;
                }
            }
            flex:0 1 420px;
            margin:0 20px 20px 0;
        }
        
    }
}

.content-list {
    .post {
        box-shadow:none;

        a:hover {
            color:$dark-typo;
        }

        .entry-header{
            height: auto;
            padding:0;

            h2 {
                margin-top:10px;
            }
            p {
                top:-20px;
            }
        }
        .entry-content {
            margin-bottom:0;
            .date {
                font-weight: bold;
            }
        }
        
    }
    
}

@media (min-width:600px) {
    .post-wrapper {
        &.sedoo_blocks_listepages {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (min-width:800px) {
    .post-wrapper {
        &.sedoo_blocks_listepages {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (min-width:1100px) {
    .home .post-wrapper {
        &.sedoo_blocks_listepages {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
.archive .post-wrapper {
    &.noimage .post {
        .entry-header{
            margin-bottom:0;
        }
    }
}