@media screen and (max-width: 1024px){
    aside[id="stickyMenu"]{
        // width: 90%;
        // @include transform(translateX(-100%));

        // &:hover:not(.open){
        //     @include transform(translateX(-100%));
        // }
        
        // .bobinette{
        //     right: -5%;
            
        //     &::after{
        //         @include transform(rotateZ(180deg));
        //     }
        // }
    }
}
@media screen and (max-width: 700px){
    .tocActive {
        h1 {
            &.entry-title {
                display:none;
            }
        }
        &.wrapper {
            padding-top:0;
        }
    }
    h1.onTop {
        margin-top: 20px;
    }
    

    
    aside[id="stickyMenu"]{
        width: 100%;
        border-right: none;
        margin-bottom:30px;
    }
}

@media screen and (min-width: 700px){
    h1 {
        &.onTop {
        display:none;
        }
    }
}