@media screen and (max-width: 1024px){
    aside[id="stickyMenu"]{
        width: 90%;
        @include transform(none);
        
        &.open{
           @include transform(translateX(-100%));
            .bobinette{

                &::after{
                    @include transform(rotateZ(0));
                }
            }
        }
        
        .bobinette{
            right: -5%;
            
            &::after{
                @include transform(rotateZ(180deg));
            }
        }
    }
}
@media screen and (max-width: 1024px) and (orientation:portrait){
    aside[id="stickyMenu"]{
        .bobinette{
            right: -6%;
        }
    }
}
@media screen and (max-width:767px){
    aside[id="stickyMenu"]{
        .bobinette{
            right: -6%;
        }
    }
}
@media screen and (max-width:767px) and (orientation:portrait){
    aside[id="stickyMenu"]{
        .bobinette{
            right: -5%;
        }
    }
}
@media screen and (max-width:500px){
    aside[id="stickyMenu"]{
        .bobinette{
            right: -12%;
            top: 70%;
        }
    }
}