
.wrapper.tocActive {
    @include display-flex;
    @include flex-wrap;
}

.tocActive {
    main {
        flex:1 1 320px;
    }
    .wrapper-content {
        padding:0 30px 70px;
    }
    
}

aside[id="stickyMenu"]{
    position: relative;
    z-index: 500;
    width: 250px;
    background: rgba(255,255,255,.95);
    // @include display-flex;
    // @include flex-column;
    // @include justify-content-center;
    border-right: 1px dotted $dark;
    @include basic-transition;
  
    p{
        font-family: $main-title-family;
        text-transform: uppercase;
        font-size: $font-size;
        padding-left: 5px;            
    }

    [id="tocList"]{
        padding: 0 20px;
        li{
            a{
                font-family: $main-title-family;
                font-size: $font-size;
                padding: 10px 0;
                display: block;
                margin-bottom: 10px;
                overflow: hidden;
            }


            li{ 
                padding: 3px 10px;
                a{
                    font-family: $main-font-family;
                    font-size: $tiny-size;
                    border: 0;
                    padding: 0;
                    margin-bottom: 0;
                    
                    &:first-child{
                        margin-top: 5px;
                    }
                }
            }            
        }
        > li:not(:last-child) > a {
            border-bottom: dotted 1px $dark;
        }        
    }
    
    ::-webkit-scrollbar{
        display: none;
    }
}

.bobinette{
    background-color: $light-full;
    position: absolute;
    right: -60.5px;
    top: calc(50% - 15px);
    height: 40px;
    width: 40px;
    padding: 10px;
    box-shadow: 4px 0 2px rgba(0,0,0,0.3);
    @include display-flex;
    @include flex-column;
    @include justify-content-center;
    @include align-items-center;
    @include basic-transition;
    border: 3px solid $dark;
    border-left: 0;
    
    svg{
        height: 30px;
        width: 30px;
        @include transform(none);
        
        polyline{
            fill: none;
            stroke-width: 4;
            stroke-linecap: round;
            stroke-misterlimit: 10;
            stroke: $dark;
        }
    }
    

}