a.tag-cloud-link, span.tag-cloud-link {
    display: inline-block;
    margin-bottom: 5px;
    padding: 3px 10px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    background: #F0F0F0;
}