// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Flex
@mixin display-flex{
    display: flex;
}
@mixin flex-column{
    flex-direction: column;
}
@mixin flex-row-reverse{
    flex-direction: row-reverse;
}
@mixin justify-content-start{
    justify-content: flex-start;
}
@mixin justify-content-between{
    justify-content: space-between;
}
@mixin justify-content-around{
    justify-content: space-around;
}
@mixin justify-content-center{
    justify-content: center;
}
@mixin justify-content-end{
    justify-content: flex-end;
}
@mixin justify-self-end{
    justify-self: flex-end;
}
@mixin align-items-start{
    align-items: flex-start;
}
@mixin align-items-center{
    align-items: center;
}
@mixin align-items-end{
    align-items: flex-end;
}
@mixin flex-wrap{
    flex-wrap: wrap;
}

// Grid
@mixin display-grid{
    display: grid;
}
@mixin grid-template-column($property){
    grid-template-columns: $property;
}
@mixin grid-gap($property){
    grid-gap: $property;
}
// Transition
@mixin basic-transition{
    transition: 0.5s ease all;
}
@mixin basic-transition-delay{
    transition-delay: 0.5s;
}
@mixin transition-delay($value){
    transition-delay: $value;
}
// Transform
@mixin transform($property){
    transform: $property;
}

// Alignement gutenberg 
@mixin alignleft {
    float: left;
    margin-right: 1em;
}

@mixin alignright {
float: right;
margin-left: 1em;
}

@mixin aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

@mixin alignwide {
    margin-left: calc(25% - 25vw);
    margin-right: calc(25% - 25vw);
}

@mixin alignfull {
    margin-left: calc(50% - 45vw);
    margin-right: calc(50% - 45vw);
}