ul[id="shortcuts"] {
  bottom: 0;
  left: 0;
  top: auto;
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }
