
/****************************
****** BLOCK GUTENBERG ******
****************************/

.alignleft {
    @include alignleft;
}

.alignright {
    @include alignright;
}

.aligncenter {
    @include aligncenter;
}

.alignwide {
    @include alignwide;
}

.alignfull {
    @include alignfull;
}

.alignfull.wp-block-cover {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

body a.btn{
    display: block;
    margin: 50px auto;
    border-radius: 0;
    background: $dark;
    color: $light-full;
    text-align: center;
    padding: 10px 40px;
    box-shadow: $down-box-shadow;
    position: relative;
    z-index: 1;
    max-width: 300px;
    text-decoration: none!important;

    &:hover{
        background: $light-full!important;
        color:#000;
    }
}  

.blur{
    filter: blur(5px);
}


/* COLONES */
.wp-block-columns{
    @include justify-content-between;
    
    &.has-2-columns{
        .wp-block-column{
            flex-basis: calc(50% - 5%);
        }
    }
}

/* QUOTE */
.wp-block-quote{
    max-width: 80%;
    margin: 50px auto;
    position: relative;
    
    &::before{
        content: "“";
        font-size: calc(#{$h1-size} * 1.5);
        font-family: $main-title-family;
        position: absolute;
        top: -40px;
        left: -40px;
    }
    
    &::after{
        content: "”";
        font-size: calc(#{$h1-size} * 1.5);
        font-family: $main-title-family;
        position: absolute;
        bottom: -40px;
        right: -40px;
    }
    
    p{
        font-size: $h4-size;
        font-family: $main-title-family;
        font-style: $italic;
    }
    cite{
        font-family: $main-title-family;
        font-size: $tiny-size;
        display: block;
        
        &::before, &::after{
            content: "-";
            display: inline-block;
            vertical-align: middle;
        }
        &::before{
            margin-right: 10px;
        }
        &::after{
            margin-left: 10px;
        }
    }
}

/* BLOCK IMAGE */
.wp-block-image {
    margin-top: 0;
    margin-bottom: 20px;

    a{
        &:hover{
            background: none!important;
        }
    }
        
    figcaption{
        text-align: justify;
        font-style: italic;
        background: #EEE;
        margin-top:10px;
        margin-bottom:10px;
        padding: 5px 10px;
        color: #444;
        font-size: .75rem;
        
        br{
            margin:5px 0;
            display: block;
        }
    }
}

/* WP CTA */
.wp-block-button{

    .wp-block-button__link{
        padding: 10px 20px;
        margin:10px;
        border-radius: 0;
        border:none;
        box-shadow: $basic-box-shadow;
        text-decoration: none;
        // color: $light-full;
        color: $light-full!important;
    }
}

/* TABLE */
table,
.wp-block-table, 
.wp-block-table.is-style-stripes {
    th, td {
        border:1px solid $dark;
    }

    th{
        font-weight: bold;
        border-bottom: 2px solid $dark;
        padding: 20px 10px;
    }
    // tr{
    //     &:nth-of-type(odd){
    //         background: $light-grey;
    //     }
    // }
}

/* TABLE */
.wp-block-table{
    // margin: 30px 0;
    // width: 100%;
    
    td{
        padding: 10px;
    }
}

// .wp-block-table.is-style-regular tr{
//     background-color: white !important;
// }

/* EMBED YOUTUBE */
// .wp-block-embed-youtube.is-type-video.wp-embed-aspect-16-9 {
//     position: relative;
//     padding-bottom: 56.25%;
//     margin-top: 40px;
    
//     iframe {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//     }
// }
