@media screen and (max-width: 1440px){
    .home header[id="masthead"] nav[id="primary-navigation"],
    nav[id="primary-navigation"]{
        div {
            ul{
                li{
                    a{
                        font-size:$tiny-size;
                        padding: 10px;
                    }
                }
            }   
        }
    }    
}

@media screen and (max-width: 1024px){

    .home header[id="masthead"] nav[id="primary-navigation"],
    nav[id="primary-navigation"]{
        div {
            ul{
                li{
                    a{
                        font-size:$mini-size;
                    }
                }
            }   
        }
    }  
}

@media screen and (max-width: 767px) and (orientation:portrait){
    header[id="masthead"]{
        .wrapper{
            .site-branding{
                max-width: 100%;
                
                img{
                    height: 50px;
                    width: auto;
                }
            }
        }
    }
}
@media screen and (max-width:500px){
    header[id="masthead"]{
        .wrapper{
            .site-branding{
                max-width: 100%;
                
                img{
                    height: 50px;
                    width: auto;
                }
            }
        }
    }
}