.home {
    header[id="masthead"]{
        padding: 10px 20px;

        
        .wrapper .site-branding .custom-logo {
            max-height: 200px;
            width: auto;
        }

        nav[id="primary-navigation"] > div > ul > li > a {
            padding: 10px 20px;
        }
    }
}



header[id="masthead"]{
    position: sticky;
    top: 0;
    // padding: 10px 20px;
    background: $light-opacity2;
    z-index: 100; 
    border-bottom:5px solid var(--theme-color);
    @include basic-transition;
    
    &.darkHeader {
        background: $dark-opacity;

        nav[id="primary-navigation"] > div > ul > li > a,
        nav[id="top-header"] > div > ul > li > a {
            color:white;
        }
    }    
        
    .wrapper{
        @include display-flex;
        @include justify-content-between;
        @include align-items-center;
        padding: 0;
        position: relative;
        
        
        .site-branding{
            max-width: 200px;

            .custom-logo {
                max-height:75px;
                width: auto;
                @include basic-transition;
            }
        }

        .nav-container{
            @include display-flex;
            @include justify-content-end;
            @include align-items-end;
            flex-direction: column;
 
        }
    }
}

.mobile {
    header[id="masthead"]{
        padding: 0;
    }
}


nav[id="primary-navigation"]{
    @include display-flex;
    @include align-items-center;
    
    > div{
        @include basic-transition;
    }
    
    ul{
        list-style: none;

        li{
            display: inline-block;
            vertical-align: middle;

            a{
                text-transform: uppercase;
                font-size: $font-size;
                font-weight: $bold;
                padding: 10px 20px;
                font-family: $main-font-family;
                display: block;
            }
            
            &:hover{
                a{
                    // // font-size: $tiny-size;
                    // color: $light-full;
                    // background: $dark;
                    // background: var(--theme-color);
                    &+ul a {
                        font-size: $tiny-size;
                    }
                }
                
            }
        }
    }

}
ul[id="primary-menu"] {
    display: none;
    margin: 0;
    padding-left: 0;
    list-style: none;
    // position: relative; 
}

@media screen and (min-width: 37.5em) {
    ul[id="primary-menu"] {
        display: flex;
        // position: relative;
        .menu-toggle {
            display: none;
        }
    }
}
