footer[id="colophon"]{
    background: $light-grey;
    padding: 30px 0 0;
    background-repeat: no-repeat;
    background-position: center 100px;
    
    > div,
    > div > :first-child {
        display: flex;
        flex-wrap: wrap;
    }

    > div > :first-child {
    justify-content: space-evenly
    }
    
    > div {
        justify-content: space-between;

        &.wrapper-layout {
            padding-bottom:20px;
            > :first-child {
                flex: 0 1 900px;
            }
            > :last-child {
                flex: 0 1 200px;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
            }
        }
    }

    .social-list {
        ul.inline-list {
        padding:0;
        }
    }    

}

.footer-menu{
    flex:0 0 250px;

    * {
        color:#FFF;
    }

    a {
        text-decoration: none;
    }
    ul{ 
        list-style: none;
        padding:0;

        &.menu {
            > li {
                font-weight: bold;
                font-size: $h3-size;
                margin-bottom: 30px;
                
                li {
                    margin:10px 0;
                    font-size: $h2-size-mobile;
                    font-weight: normal;
                }

                .submenu li .submenu {
                    margin-left:20px;
                }
            }
        }
    }

}
.infos-pratiques{
    img{
        max-width: 300px;
        margin-bottom: 30px;
        filter: grayscale(100%);
    }

    .row-infos{
        
        &::after{
            content: "";
            display: block;
            width: 40px;
            height: 3px;
            background: $dark;
            margin: 20px 0;
        }
        
        &:last-child{
            &::after{
                display: none;
            }
        }
    }
}

.social-partenaires{
    h2{
        margin-top: 0;
        margin-bottom: 20px;
        color: $dark;
        text-transform: $uppercase;
    }
    > img {
        margin:20px auto;
    }
}
.social-list{
    li{
        display: inline-block; 
        a{
            display: inline-block;
            vertical-align: middle;
            position: relative;
            margin-right: 10px;
            position: relative;
            line-height: 0.9;

            &::before{
                content: "";
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                @include basic-transition;
                z-index: -1;
            }

            &::after{
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
                border: none;
                z-index: 0;
                width: 100%;
                height: 100%;
                content: "";
                // filter: invert(100%);
            }

            &[href*="facebook"]::after {
                background-image: url("images/logo_facebook.svg");
            }

            &[href*="twitter"]::after {
                background-image: url("images/logo_twitter.svg");
            }

            &[href*="instagram"]::after {
                background-image: url("images/logo_instagram.svg");
            }

            &[href*="youtube"]::after {
                background-image: url("images/logo_youtube.svg");
            }

            &[href*="linkedin"]::after {
                background-image: url("images/logo_linkedin.svg");
            }

            &[href*="vimeo"]::after {
                background-image: url("images/logo_vimeo.svg");
            }

            &[href*="researchgate"]::after {
                background-image: url("images/logo_researchgate.svg");
            }
            
            &:hover{
                background:none;
                &::before{
                    background: $dark;
                }
                &::after{
                    filter: invert(100%);
                }
                
            }
        }
    }
}

figure.footer-logo {
    max-width: 150px;
    margin:auto;
}
.partners-list{
    background:#FFF;
    min-height: 100px;
    align-items: center;
    padding-top: 20px;

    ul{
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        li{
            img{
                max-height: 50px;
            }
        }
    }
    .wrapper-layout {
        padding:0 20px;
        a:hover {
        background: none;
        }
    }
}

.copyright{
    background:#FFF;

    .wrapper.site-info{
        nav {
            margin:auto;
        }
        ul[id="mentions-menu"]{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                margin:10px;
            }
        }
        p{
            width: 100%;
            text-align: center;
            color:#222;
        }
        a{
            text-decoration: underline;
            
            &:hover{
                text-decoration: none;
                color: $light-full;
            }
        }
    
    }
}
