@media screen and (max-width: 1280px){
    .home{
        header[id="cover"]{
            padding: 60px 0;
            
            .wrapper{
                
                h1{
                    font-size: $h1-size;
                }
                
            }
        }
    }    
}
@media screen and (max-width: 1024px) {
    .home{
        header[id="cover"]{
            height: auto;
        }
    }
    
}

@media screen and (max-width: 1024px) and (orientation: portrait){
    .home{
        header[id="cover"]{
            padding: 100px 0;
            
            .wrapper{
                max-width: 600px;
                
                h1{
                    font-size: $h1-size-mobile;
                }
                
            }
        }
    }
}
@media screen and (max-width: 767px){
    .home{
        header[id="cover"]{
            padding: 50px 0;
            
            &::before{
                top: 10px;
                left: 10px;
                width: calc(100% - 20px);
                height: calc(100% - 20px);
            }
            &::after{
                top: 15px;
                left: 15px;
                width: calc(100% - 30px);
                height: calc(100% - 30px);          
            }
            
            .wrapper{
                max-width: 500px;
                
                 h1{
                    font-size: $h1-size-mobile;
                }               
            }
        }
    }
}
@media screen and (max-width:767px) and (orientation:portrait){
    .home{
        header[id="cover"]{
            .wrapper{
                max-width: 400px;
                padding: 0 20px;
            }
        }
    }
}
@media screen and (max-width:500px) {
    .home{
        header[id="cover"]{
            &::before{
                top: 5px;
                left: 5px;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
            }
            &::after{
                top: 10px;
                left: 10px;
                width: calc(100% - 20px);
                height: calc(100% - 20px);          
            }        
    
            .wrapper{
                max-width: 280px;
                
                h1{
                    font-size: calc(#{$h1-size-mobile} * 0.8);
                }
                h2{
                    font-size: calc(#{$h2-size-mobile} * 0.8);
                }
            }
        }
    }
}