.post-wrapper{
    @include display-grid;
    @include grid-template-column(repeat(3, 1fr));
    @include grid-gap(20px);
}
.archives{
    &.wrapper{
        max-width: $max-archive-width;
    }
    
    section + h2{
        margin-top: 70px;
        margin-bottom: 40px;
        
        &:first-child{
            margin-top: 0;
        }
    }
    .event-img{
        img{
            object-fit: cover;
            height: 100%;
        }
    }
}

.posts-navigation{
    display: block;
    margin: 50px auto;
    text-align: center;
    background: $dark;
    color: $light-full!important;
    padding: 20px;
    max-width: 30%;
    box-shadow: $basic-box-shadow;
    
    &:hover{
        background: $light-full;
    }
}
.archive{
    .site-branding{
        @extend .wrapper;
    }
}