.post-wrapper{

}
.archives{
    &.wrapper{
        max-width: $max-archive-width;
    }

    header[id="cover"]{
        margin-bottom: 20px;
    }
    
    section + h2{
        margin-top: 70px;
        margin-bottom: 40px;
        
        &:first-child{
            margin-top: 0;
        }
    }
    .event-img{
        img{
            object-fit: cover;
            height: 100%;
        }
    }
}

.posts-navigation{
    width: 100%;

    .nav-links{
        display: flex;
        justify-content: space-evenly;
    }
    
    a{
        display: block;
        text-align: center;
        background: $dark;
        color: $light-full;
        padding: 20px;
        max-width: initial;
        box-shadow: $basic-box-shadow;
        margin: 0 auto;

        &:hover{
            background: $light-full;
        }
    }
}
.archive{
    .site-content{
        .site-branding{
            @extend .wrapper;
        }
    }
}