.post-wrapper{
    @include display-grid;
    @include grid-template-column(repeat(3, 1fr));
    @include grid-gap(20px);
}
.archives{
    &.wrapper{
        max-width: $max-archive-width;
    }
    
    section + h2{
        margin-top: 70px;
        margin-bottom: 40px;
        
        &:first-child{
            margin-top: 0;
        }
    }
}