@media screen and (max-width:1024px){
    .single-event{
        .contextual-sidebar{
            .event{
                margin-bottom: 50px;

                >div{
                    display: flex;
                    align-items: center;
                }

                .btn{
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0 20px 0 0;

                    &::before{
                        display: block;
                        width: 70px;
                        height: 70px;
                        margin: 0 auto 10px;

                    }
                }
                .event-informations{
                    p{
                        &:first-child{
                            font-family: $main-title-family;
                            text-transform: uppercase;
                            font-size: $h3-size;
                            margin-bottom: 5px;
                        }
                        &:nth-child(2){
                            font-family: $main-title-family;
                            font-size: $h3-size;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:767px){
    .single-event{
        .contextual-sidebar{
            .event{
                .event-informations{
                    p{
                        &:first-child{
                            font-size: $h3-size-mobile;
                        }
                        &:nth-child(2){
                            font-size: $h3-size-mobile;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:500px){
    .single-event{
        .contextual-sidebar{
            .event{
                >div{
                    flex-direction: column;
                    
                    .btn{
                        width: 100%;
                        max-width: 100%;
                        margin-right: 0;
                        margin-bottom: 30px;
                    }
                    .event-informations{
                        width: 100%;
                    }
                }
            }
        }
    }
}