@media screen and (max-width: 1024px){
    .single-post, .single-event{
        header[id="cover"]{
            height: 30vh;
        }
        .wrapper-layout{
            flex-wrap: wrap;
        }
        main{
            width: 100%;
            margin-bottom: 0;
        }
    }
    .contextual-sidebar{
        width: 100%;
        margin-left: 0;
        padding-bottom: 0;

        .post-author{
            margin-bottom: 0;
            h2{
                margin-top: 0;
            }
            > div{
                display: flex;
                justify-content: space-between;

                div{
                    &:first-child{
                    width: calc(33.3% - 20px);
                    }
                    &:last-child{
                        width: calc(66.6% - 20px);
                        
                        p{
                            &:first-child{
                                margin-bottom: 5px;
                            }
                            b{
                                margin-bottom: 0;
                            }
                        }
                    }

                    .img-author{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

// @media screen and (max-width:1024px) and (orientation:portrait){
//     .read-more-article{
//         .post-loop{
//             .post-preview{
//                 .post-img{
//                     height: 180px;
//                 }
//             }
//         }
//     }
// }
// @media screen and (max-width:767px){
//     .read-more-article{
//         .post-loop{
//             .post-preview{
//                 .post-img{
//                     height: 180px;
//                 }
//             }
//         }
//     }
// }
@media screen and (max-width: 767px) and (orientation:portrait){
    .single-post, .single-event{
        main{
            article{
                padding: 30px;
            }
        }
    }
    // .read-more-article{
    //     .post-loop{
    //         .post-preview{
    //             width: 100%;
                
    //             h3{
    //                 height: auto;
    //             }
    //         }
    //     }
    // }
    .contextual-sidebar{
        .post-author{
            > div{
                > div{
                    &:first-child,&:last-child{
                        width: calc(50% - 20px);
                        
                        .img-author{
                            width: 100%;
                            height: 170px;
                        }                        
                    }
                }
            }
        }
    }
}
@media screen and (max-width:500px){
    .contextual-sidebar{
        .post-author{
            > div{
                display: block;
                > div{
                    &:first-child,&:last-child{
                        width: 100%;
                    } 
                }
            }
        }
    }
    // .read-more-article{
    //     .post-loop{
    //         flex-direction: column;
    //         .post-preview{
    //             width: 100%;
    //             margin-bottom: 50px;
                
    //             h3{
    //                 height: auto;
    //             }
    //         }
    //     }
    // }
}
