$light-full: #fff;
$light-opacity: rgba(255,255,255,0.9);

$light-grey: #F2F2F2;
$dark-grey: #9d9fa2;

/* COULEUR DATA TERRA */
$dark: #000;
$dark-opacity: rgba(0,0,0,0.8);
$brown-dt: #6e432e;

/* COULEUR POLES */
$aeris: #5cbfe9;
$theia: #f08429;
$formater: #bf4021;
$odatis: #126ea4;
$dynamis: #d66612;
$interpoles: #727272;