$light-full: #fff;
$light-opacity: rgba(255,255,255,0.8);
$light-opacity2: rgba(255,255,255,0.97);
$light-grey: #F2F2F2;
$dark-grey: #9d9fa2;
$light-dark:#666;
$dark: #000;
$dark-background:#111;
$dark-background-light:#333;
$dark-typo: #222;
$dark-opacity: rgba(0,0,0,0.9);
$light: #FEFEFE;
$light-typo: #EEE;
$light-opacity: rgba(255,255,255,0.9);