/* Font-Family */

@font-face {
	font-family: Next;  
	src: url(fonts/NEXT-MediumBook.woff);  
	font-weight: normal;  
}

/* 
$site-family: 'Montserrat', sans-serif;
$main-title-family : 'Montserrat', sans-serif;
$second-title-family : 'Cormorant Infant', serif;
$main-font-family : 'Poppins', sans-serif;
*/

$site-family: 'Next', sans-serif;


$main-title-family : 'Next', sans-serif;
// $second-title-family : 'Next', serif;
$main-font-family : 'Open Sans', sans-serif;

/* Font-size */
$h1-size: 1.875rem;
$h2-size: 1.562rem;
$h3-size: 1.25rem;
$h4-size: 1.125rem;
$rem-size: 1rem;
$font-size: 0.875rem;
$tiny-size: 0.75rem;
$mini-size: 0.65rem;

$h1-size-mobile: 1.25rem;
$h2-size-mobile: 0.9375rem;
$h3-size-mobile: 0.8125rem;
$h4-size-mobile: 0.6875rem;

/* Font-weight ou variant */
$bold: 700;
$semi-bold: 600;
$light: 400;

$italic: oblique;

/* Transform */
$uppercase: uppercase;
$lowercase: lowercase;
$text-transform-none: none;

/* Letter spacing */
// $letter-spacing: 3px;
