.slide-in-left {
    animation-name: slide_in_left;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    /* animation-delay: 0s; */
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    /* animation-timeline: ; */
}

.slide-in-top {
    animation-name: slide_in_top;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    /* animation-delay: 0s; */
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    /* animation-timeline: ; */
}

@keyframes slide_in_left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
  }

  @keyframes slide_in_top {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    80% {
        transform: translateY(-70%);
        opacity: 0;
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
  }


@for $i from 1 through 10 {
    .delay-display:nth-child(#{$i}n) {
        animation-duration: #{$i * 0.3}s;
    }
}