@media screen and (max-width: 1024px){
    .overlay{
        &.location{
            .wrapper{
                padding: 40px 20px;
            }
        }
    }
    .close{
        label{
            opacity: 1;
            @include transform(none);
        }
    }
}
@media screen and (max-width:1024px) and (orientation:portrait){
    .overlay{
        &.location{
            .wrapper{
                @include flex-column;
                
                div:not(.close){
                    width: 100%;
                    &.leaflet-container{
                        height: 300px!important;
                        margin-left: 0;
                        margin-top: 30px;
                        position: relative;
                    }
                }
            }
        }
        &.calendar{
            .wrapper{
                padding: 40px 20px;
                
                .fc-toolbar{
                    @include flex-wrap;
                    
                    .fc-center{
                        width: 100%;
                        order: 1;
                    }
                    .fc-left{
                        order: 2;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    .overlay{
        &.location{      
            .custom-logo{
                display: none;
            }
            .wrapper{
                .slick-list{
                    padding: 0!important;
                    width: 100%;
                    
                    .slick-track{
                        @include display-flex;

                        .slick-slide{
                            width: 100%;
                            padding: 0 20px;
                        }
                    }
                }
                .slick-dots{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    position: absolute;
                    bottom: 20px;
                    left: 0;
                    
                    li{
                        position: relative;
                        margin-right: 30px;
                        
                        &:last-child{
                            margin-right: 0;
                        }
                        
                        button{
                            padding: 0;
                            
                            &::after{
                                content: "";
                                width: 15px;
                                height: 15px;
                                background: $dark;
                                display: block;
                                position: absolute;
                                top: 3px;
                                left: -3px;
                                border-radius: 100%;
                            }
                        }
                    }
                }
                
                .location-repeat{
                    @include flex-column;
                    height: auto;
                    
                    .information-location, .leaflet-container{
                        width: 100%;
                    }
                }
            }
        }
        &.annuaire{
            iframe{
                padding: 20px;
            }
        }
        
        &.calendar{
            .wrapper{
                padding: 40px 20px;
                
                .fc-toolbar{
                    @include flex-wrap;
                    @include flex-column;
                    
                    .fc-center{
                        width: 100%;
                        order: 2;
                        margin: 10px 0;
                    }
                    .fc-left{
                        order: 1;
                        width: 100%;
                    }
                    .fc-right{
                        width: 100%;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:500px){
    .location.open.overlay{
        .wrapper{
            .location-repeat{
                .leaflet-container{
                    margin-top: 20px;
                    height: 230px!important;
                }
            }
        }
    }
}