ul[id="shortcuts"]{
    position: fixed;
    right: 0;
    top: 40%;
    max-width: 200px;
    width: 100%;
    @include transform(translateX(150px));
    z-index: 1000;
    
    > li{
        padding: 10px;
        width: 100%;
        @include basic-transition;
        box-shadow: $basic-box-shadow;
        background: $dark;
        cursor: pointer;
        
        &:hover{
            @include transform(translateX(-150px));
            background: $light-full;
            
            button, 
            a{
                color: $dark;
            }
        }
        
        &:nth-child(even){
            filter: saturate(50%);
            
            &:hover{
                filter: saturate(100%);
            }
        }
        button, a{
            font-family: $main-title-family;
            font-size: $tiny-size;
            text-transform: uppercase;
            color: $light-full;
            text-decoration: none;
            outline: 0;
            background: none;
            border-radius: 0;
            border: none;
            padding: 0;
            display: flex;
            align-items: center;
            width: 100%;
            
            svg{
                width: 30px;
                height: 30px;
                margin-right: 20px;
            }
            
        }        
    }

    > li.lang-btn {
        
        > button {
            > ul {
            position: absolute;
            width: calc(100% - 30px);
            height: 100%;
            display: flex;
            left: 50px;
            align-items: center;
            }
        }
    }
    .lang-item {
        background: transparent;
        font-size: $font-size;
        img {
            width:20px;
        } 
        &:not(:only-child){
            margin-right: 10px;
        }
    }
    .lang-item a {
        display: block;
    }
}



