/* CUSTOM COLORS CHOOSED BY USER - Custom colors in Theme options */


// TEXT

.has-couleur_selectionnee_1-color,
[class^="wp-block"].has-background-dim.has-couleur_selectionnee_1-color,
.has-couleur-selectionnee-1-color,
[class^="wp-block"].has-background-dim.has-couleur-selectionnee-1-color {
    color : var(--custom-color-1);
}
.has-couleur_selectionnee_2-color,
[class^="wp-block"].has-background-dim.has-couleur_selectionnee_2-color,
.has-couleur-selectionnee-2-color,
[class^="wp-block"].has-background-dim.has-couleur-selectionnee-2-color {
    color : var(--custom-color-2);
}
.has-couleur_selectionnee_3-color,
[class^="wp-block"].has-background-dim.has-couleur_selectionnee_3-color,
.has-couleur-selectionnee-3-color,
[class^="wp-block"].has-background-dim.has-couleur-selectionnee-3-color {
    color : var(--custom-color-3);
}
.has-couleur_selectionnee_4-color,
[class^="wp-block"].has-background-dim.has-couleur_selectionnee_4-color,
.has-couleur-selectionnee-4-color,
[class^="wp-block"].has-background-dim.has-couleur-selectionnee-4-color {
    color : var(--custom-color-4);
}
.has-couleur_selectionnee_5-color,
[class^="wp-block"].has-background-dim.has-couleur_selectionnee_5-color,
.has-couleur-selectionnee-5-color,
[class^="wp-block"].has-background-dim.has-couleur-selectionnee-5-color {
    color : var(--custom-color-5);
}

// BACKGROUND
.has-couleur_selectionnee_1-background-color,
[class^="wp-block"].has-background-dim.has-couleur_selectionnee_1-background-color,
.has-couleur-selectionnee-1-background-color,
[class^="wp-block"].has-background-dim.has-couleur-selectionnee-1-background-color {
    background-color : var(--custom-color-1);
}
.has-couleur_selectionnee_2-background-color,
[class^="wp-block"].has-background-dim.has-couleur_selectionnee_2-background-color,
.has-couleur-selectionnee-2-background-color,
[class^="wp-block"].has-background-dim.has-couleur-selectionnee-2-background-color {
    background-color : var(--custom-color-2);
}
.has-couleur_selectionnee_3-background-color,
[class^="wp-block"].has-background-dim.has-couleur_selectionnee_3-background-color,
.has-couleur-selectionnee-3-background-color,
[class^="wp-block"].has-background-dim.has-couleur-selectionnee-3-background-color {
    background-color : var(--custom-color-3);
}
.has-couleur_selectionnee_4-background-color,
[class^="wp-block"].has-background-dim.has-couleur_selectionnee_4-background-color,
.has-couleur-selectionnee-4-background-color,
[class^="wp-block"].has-background-dim.has-couleur-selectionnee-4-background-color {
    background-color : var(--custom-color-4);
}
.has-couleur_selectionnee_5-background-color,
[class^="wp-block"].has-background-dim.has-couleur_selectionnee_5-background-color,
.has-couleur-selectionnee-5-background-color,
[class^="wp-block"].has-background-dim.has-couleur-selectionnee-5-background-color {
    background-color : var(--custom-color-5);
}