
/* GENERATED COLORS BY THE PALETTE GENERATOR  - Complementary colors in Theme options */

// TEXT
.has-couleur_ajoutee_1-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_1-color {
    color : var(--palette-color-1);
}
.has-couleur_ajoutee_2-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_2-color {
    color : var(--palette-color-2);
}
.has-couleur_ajoutee_3-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_3-color {
    color : var(--palette-color-3);
}
.has-couleur_ajoutee_4-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_4-color {
    color : var(--palette-color-4);
}
.has-couleur_ajoutee_5-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_5-color {
    color : var(--palette-color-5);
}

// BACKGROUND
.has-couleur_ajoutee_1-background-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_1-background-color::before {
    background-color : var(--palette-color-1);
}
.has-couleur_ajoutee_2-background-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_2-background-color::before  {
    background-color : var(--palette-color-2);
}
.has-couleur_ajoutee_3-background-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_3-background-color::before  {
    background-color : var(--palette-color-3);
}
.has-couleur_ajoutee_4-background-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_4-background-color::before  {
    background-color : var(--palette-color-4);
}
.has-couleur_ajoutee_5-background-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_5-background-color::before {
    background-color : var(--palette-color-5);
}