
/* GENERATED COLORS BY THE PALETTE GENERATOR  - Complementary colors in Theme options */

// TEXT
.has-couleur-ajoutee-1-color,
[class^="wp-block"].has-background-dim.has-couleur-ajoutee-1-color,
[class^="wp-block"].has-background.has-couleur-ajoutee-1-color {
    color : var(--palette-color-1);
}
.has-couleur-ajoutee-2-color,
[class^="wp-block"].has-background-dim.has-couleur-ajoutee-2-color,
[class^="wp-block"].has-background.has-couleur-ajoutee-2-color {
    color : var(--palette-color-2);
}
.has-couleur-ajoutee-3-color,
[class^="wp-block"].has-background-dim.has-couleur-ajoutee-3-color,
[class^="wp-block"].has-background.has-couleur-ajoutee-3-color {
    color : var(--palette-color-3);
}
.has-couleur-ajoutee-4-color,
[class^="wp-block"].has-background-dim.has-couleur-ajoutee-4-color,
[class^="wp-block"].has-background.has-couleur-ajoutee-4-color {
    color : var(--palette-color-4);
}
.has-couleur-ajoutee-5-color,
[class^="wp-block"].has-background-dim.has-couleur-ajoutee-5-color,
[class^="wp-block"].has-background.has-couleur-ajoutee-5-color {
    color : var(--palette-color-5);
}

// BACKGROUND
.has-couleur_ajoutee_1-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_1-color ,
.has-couleur-ajoutee-1-background-color,
[class^="wp-block"].has-background-dim.has-couleur-ajoutee-1-background-color{
    background-color : var(--palette-color-1);
}
.has-couleur_ajoutee_2-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_2-color ,
.has-couleur-ajoutee-2-background-color,
[class^="wp-block"].has-background-dim.has-couleur-ajoutee-2-background-color {
    background-color : var(--palette-color-2);
}
.has-couleur_ajoutee_3-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_3-color ,
.has-couleur-ajoutee-3-background-color,
[class^="wp-block"].has-background-dim.has-couleur-ajoutee-3-background-color {
    background-color : var(--palette-color-3);
}
.has-couleur_ajoutee_4-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_4-color ,
.has-couleur-ajoutee-4-background-color,
[class^="wp-block"].has-background-dim.has-couleur-ajoutee-4-background-color {
    background-color : var(--palette-color-4);
}
.has-couleur_ajoutee_5-color,
[class^="wp-block"].has-background-dim.has-couleur_ajoutee_5-color ,
.has-couleur-ajoutee-5-background-color,
[class^="wp-block"].has-background-dim.has-couleur-ajoutee-5-background-color{
    background-color : var(--palette-color-5);
}