/* Theme colors to apply on specifics items */


.post:hover .group-content .entry-content h2,
ul[id="shortcuts"] li:hover button,
ul[id="shortcuts"] li:hover a,
.footer-menu ul[id="primary-menu"] .menu-item a,
.footer-categories li a:hover,
.wrapper-content a, 
.wrapper-layout a,
.entry-content a,
p a,
main article section a,
.copyright .wrapper.site-info a,
.search-form .search-submit:hover,
.search-form .search-field:focus,
.search-form .search-field:active,
body a.btn:hover,
.page-template-template-evenements .event-post:hover,
.author-card > div:first-child > div:last-child p a:hover,
.search-annuaire input[type="search"]:focus,
.search-annuaire button:hover,
.single-event .wrapper-layout header .post-meta,
.posts-navigation a:hover,
.wpfc-calendar-wrapper .fc .ui-state-active,
.post-wrapper .event-post:hover h3,
a.tag-cloud-link, 
span.tag-cloud-link
{
    color: var(--theme-color);
}

ul[id="shortcuts"] li,
.post .entry-header p,
// .post-horizontal .entry-header p,
.social-list li a:hover::before,
.nav-box .nav-box-chevron,
.wrapper-content a:hover,
.wrapper-layout a:hover,
.entry-content a:hover,
p a:hover,
main article section a:hover,
::selection,
-moz-::selection,
.copyright .wrapper.site-info a:hover,
body a.btn,
.search-form .search-submit,
div[id="em-wrapper"] h2,
.author-card > div:first-child > div:not(.img-author),
.search-annuaire button,
.wp-block-button .wp-block-button__link,
.posts-navigation a,
.ui-widget-header,
.page-links span.current,
.wrapper-layout .social-list a:hover::before, 
.cn-button, 
.btn_footer_local:hover,
a.tag-cloud-link:hover, 
span.tag-cloud-link:hover {
    background: var(--theme-color);
}

a.tag-cloud-link:hover, 
span.tag-cloud-link:hover,
.wrapper-content a:hover,
.wrapper-layout a:hover,
.entry-content a:hover,
p a:hover,
main article section a:hover {
    color: var(--hover-textcolor);
}

.social-list li a:hover::before,
.search-form .search-field:focus,
.search-form .search-field:active,
.bobinette,
.search-annuaire input[type="search"]:focus,
.ui-widget-header,
.page-links span.current {
     border-color: var(--theme-color);
}

a:hover,
a:focus,
a:active,
aside[id="stickyMenu"] [id="tocList"] li.active a,
.post-wrapper.sedoo-labtools-listCPT article > a:hover {
    color:  var(--theme-color);
}



 
ul[id="shortcuts"] li:hover path, 
ul[id="shortcuts"] li:hover rect:not(.size), 
ul[id="shortcuts"] li:hover line{
    fill:  var(--theme-color)!important;
}
 .bobinette svg polyline{
     stroke:  var(--theme-color);
 }

 #desc_overlay {
    background-color: var(--theme-color-rgba);
}

.tribe-events .tribe-events-c-ical__link::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 1v10m5-5H1' fill='none' fill-rule='evenodd' stroke='var(--theme-color-rgba)' stroke-linecap='square' stroke-width='1.5'/%3E%3C/svg%3E");
}

/* AGENDA */
.tribe-common .tribe-common-c-btn, .tribe-common a.tribe-common-c-btn, .tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector--tabs .tribe-events-c-view-selector__list-item--active .tribe-events-c-view-selector__list-item-link::after, .tribe-events .datepicker .day.active, .tribe-events .datepicker .day.active.focused, .tribe-events .datepicker .day.active:focus,
.tribe-events .datepicker .day.active:hover,
.tribe-events .datepicker .month.active,
.tribe-events .datepicker .month.active.focused,
.tribe-events .datepicker .month.active:focus,
.tribe-events .datepicker .month.active:hover,
.tribe-events .datepicker .year.active,
.tribe-events .datepicker .year.active.focused,
.tribe-events .datepicker .year.active:focus,
.tribe-events .datepicker .year.active:hover,
.tribe-events .tribe-events-c-ical__link:active,
.tribe-events .tribe-events-c-ical__link:focus,
.tribe-events .tribe-events-c-ical__link:hover,
.tribe-events .tribe-events-c-view-selector__button::before {
    background: var(--theme-color);
}

.tribe-common .tribe-common-c-btn:active, .tribe-common a.tribe-common-c-btn:active,
.tribe-common .tribe-common-c-btn:focus, .tribe-common .tribe-common-c-btn:hover, .tribe-common a.tribe-common-c-btn:focus, .tribe-common a.tribe-common-c-btn:hover {
    background: var(--second-theme-color);
}

.tribe-events .tribe-events-c-ical__link {
    color: var(--theme-color);
    border-color: var(--theme-color);
}
@keyframes a {
    50% {
        background-color: var(--theme-color)
    }
}