/* GENERATED COLORS BY MESSAGE COLORS - Theme options */

// TEXT
.has-green-color,
[class^="wp-block"].has-background-dim.has-green-color,
[class^="wp-block"].has-background.has-green-color {
    color : var(--green-color);
}
.has-blue-color,
[class^="wp-block"].has-background-dim.has-blue-color,
[class^="wp-block"].has-background.has-blue-color {
    color : var(--blue-color);
}

.has-orange-color,
[class^="wp-block"].has-background-dim.has-orange-color,
[class^="wp-block"].has-background.has-orange-color {
    color : var(--orange-color);
}
.has-red-color,
[class^="wp-block"].has-background-dim.has-red-color,
[class^="wp-block"].has-background.has-red-color {
    color : var(--red-color);
}

// BACKGROUND
.has-green-background-color,
[class^="wp-block"].has-background-dim.has-green-background-color,
[class^="wp-block"].has-background.has-green-background-color {
    background-color : var(--green-color);
}
.has-blue-background-color,
[class^="wp-block"].has-background-dim.has-blue-background-color,
[class^="wp-block"].has-background.has-blue-background-color {
    background-color : var(--blue-color);
}
.has-orange-background-color,
[class^="wp-block"].has-background-dim.has-orange-background-color,
[class^="wp-block"].has-background.has-orange-background-color {
    background-color : var(--orange-color);
}
.has-red-background-color,
[class^="wp-block"].has-background-dim.has-red-background-color,
[class^="wp-block"].has-background.has-red-background-color {
    background-color : var(--red-color);
}