body.darkmode--activated{
    /* HEADER */
    header[id="masthead"]{
        background: $dark;
        
        .wrapper{
            .site-branding{
                filter: invert(100%) grayscale(100%);
            }
            
            nav[id="primary-navigation"]{
                ul{
                    mix-blend-mode: normal;
                    
                    li{
                        a{
                            color: $light-full;
                            mix-blend-mode: normal;
                        }
                    }
                }
            }
            nav[id="burger-navigation"]{
                .burger{
                    border-color: $light-full;
                    
                    &::before, &::after{
                        background: $light-full;
                    }
                    
                    label{
                        color: $light-full;
                    }
              
                    .burger-icon{
                        span{
                            background: $light-full;
                        }
                    }
                    
                }
            }
        }
    }
    &.menu-expanded{
        nav[id="burger-navigation"]{
            .overlay{
                background: $dark-opacity;
                
                .slick-slide{
                    .menu-item{
                        a{
                            color: $light-full;
                            
                            &::after{
                                background: $light-full;
                            }
                        }
                    }
                }
            }
        }
    }
    /* SHORTCUTS */
    ul[id="shortcuts"]{
        li{
            box-shadow: 0 0 5px rbga(0,0,0,0.3);
            
            &:hover{
                background: $dark;
                
                button{
                    color: $light-full;
                }
                
                svg{
                    path, circle, line, polyline{
                        fill: $light-full!important;
                    }
                }
            }
        }
    }
    .close{
        label{
            color: $light-full;
        }
        button{
            span{
                background: $light-full;
            }
        }
    }
    .overlay{
        background: $dark-opacity;
        
        &.location{
            .wrapper{
                .information-location{
                    img{
                        filter: invert(100%) grayscale(100%);
                    }
                    p, address, a{
                        color: $light-full;
                    }
                }
            }
        }
        
        &.search-form{
            h2{
                color: $light-full;
            }
            .search-form{
                .search-field{
                    border-color: $light-full;
                    color: $light-full;
                }
            }
        }
    }
    /* LAYOUT */
    img{
        mix-blend-mode: normal;
    }
    .post{
        background: $dark;
        box-shadow: 0 7px 5px rgba(255,255,255, 0.3);
        
        .entry-content, .entry-footer{
            h2, p{
                color: $light-full;
            }
        }
    }
    &.single-post, &.single-event{
        main{
            &::before{
                background: linear-gradient(#fff, rgba(0,0,0,0));
            }
            &::after{
                background: linear-gradient(rgba(0,0,0,0), #fff);
            }
            
            article{
                background: $dark;
                color: $light-full;
            }
        }
        .contextual-sidebar{
            .reading-time{
                .eta-container{
                    .eta{
                        color: $light-full;
                    }
                }
            }

        }
    }
    aside[id="stickyMenu"]{
        background: $dark;
        
        .bobinette{
            background: $dark;
        }
        
        > div{
            p{
                color: $light-full;
            }
            
            [id="tocList"]{
                li{
                    a{
                        color: $light-full;
                    }
                }
            }
        }
    }
    
    .nav-box{
        .nav-box-chevron{
            mix-blend-mode: normal;
            box-shadow: 0 2px 8px rgba(255,255,255,0.5);
        }
        .card-nav{
            background: $dark;
            box-shadow: 0 2px 8px rgba(255,255,255,0.5);
            
            p{
                color: $light-full;
            }
        }
    }
    
    .wp-block-quote{
        color: $light-full;
    }
    /* FOOTER */
    footer[id="colophon"]{
        .infos-pratiques{
            img{
                filter: invert(100%) grayscale(100%);
            }
        }
        .social-list{
            li{
                a{
                    &::before{
                        border-color: $light-full;
                    }
                    &::after{
                        filter: invert(100%);
                    }
                }
            }
        }
    }
    
    
    /* CUSTOMIZER */
    .post:hover .group-content .entry-content h2,
    ul[id="shortcuts"] li:hover button,
    nav[id="burger-navigation"] .overlay .slick-slide .menu-item a:hover,
    .footer-menu ul[id="primary-menu"] .menu-item a,
    .footer-categories li a:hover,
    .read-more-article .post-loop .post-preview:hover h3,
    .wrapper-content a, 
    .wrapper-layout a,
    .copyright .wrapper.site-info a,
    .search-form .search-submit:hover,
    .search-form .search-field:focus,
    .search-form .search-field:active,
    body a.btn:hover,
    .page-template-template-evenements .event-post:hover,
    .author-card > div:first-child > div:last-child p a:hover,
    .search-annuaire input[type="search"]:focus,
    .search-annuaire button:hover,
    nav[id="primary-navigation"] ul li:hover a,
    ul[id="primary-menu"] .menu-item .sub-menu,
    ul[id="shortcuts"] li,
    .post-horizontal .entry-header p,
    .post:nth-child(4n)::before,
    .post:nth-child(8n)::before,
    .social-list li a:hover::before,
    .read-more-article h2,
    .wrapper-content a:hover,
    .wrapper-layout a:hover,
    ::selection,
    -moz-::selection,
    .copyright .wrapper.site-info a:hover,
    body a.btn,
    .search-form .search-submit,
    div[id="em-wrapper"] h2,
    .wp-block-quote p::first-letter,
    .author-card > div:first-child > div:not(.img-author),
    .search-annuaire button,
    .social-list li a:hover::before,
    .search-form .search-field:focus,
    .search-form .search-field:active,
    .search-annuaire input[type="search"]:focus,
    a:hover,
    a:focus,
    a:active,
    ul[id="shortcuts"] li:hover button path,
    .bobinette svg polyline,
    .contextual-sidebar .post-author .img-author
    {
        mix-blend-mode: difference;
    }
}